<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/pago.css" />

</head>

<body>
    <div class="container">
        <form action="">
            <div class="row">
                <div class="colum">
            <!-- Esto es pa lo de los envios osea, no sé si esté bien -->
                    <h3 class="tittle">Dirección</h3>
                    <div class="input-box">
                        <span>Nombre</span>
                         <input type="text"
                         placeholder="Ingrese su nombre">
                    </div>
                      <div class="input-box">
                        <span>Email</span>
                         <input type="email"
                         placeholder="Ingrese su nombre">
                    </div>
                      <div class="input-box">
                        <span>Dirección</span>
                         <input type="text"
                         placeholder="Ingrese su nombre">
                    </div>
                    <div class="input-box">
                        <span>Localidad</span>
                         <input type="text"
                         placeholder="ejemplo: Santiago">
                    </div>
                      <div class="input-box">
                        <span>comuna</span>
                         <input type="text"
                         placeholder="ejemplo: Maipú">
                    </div>
                         
                </div>
<!--esta ya es la parte de los pagos-->
                <div class="colum">
                    <h3 class="tittle">Metodo de pago</h3>
                    <div class="input-box">
                        <span>metodos aceptados</span>
                        <img src="images/Logos-01.png" alt="">
                    </div>
                    <div class="input-box">
                        <span>Nombre en la tarteja</span>
                         <input type="text"
                         placeholder="">
                    </div>

                      <div class="input-box">
                        <span>numero en la tarjeta</span>
                         <input type="number"
                         placeholder="1111 2222 3333 4444">
                    </div>
                      <div class="input-box">
                        <span>Fecha vencimiento</span>
                         <input type="date"
                         placeholder="Ingrese su nombre">
                    </div>
                      <div class="input-box">
                        <span>CVV</span>
                         <input type="number"
                         placeholder="123">
                    </div>

                    <button type="submit" class="btn"> enviar</button>
                         
                </div>


            </div>
        </form>


    </div>
</body>