<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FERREMAS</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
          <a href="#" class="logo">FERREMARKX</a>
          <nav class="navigation">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Carrito</a></li>
            </ul>
          </nav>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <h1>Encabezado prueba</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ea
                necessitatibus rem ut earum, accusantium provident nemo laborum dolor
                repudiandae nihil sed sit, deserunt illum nulla! Illo nemo laboriosam
                est.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                mollitia accusantium neque delectus, modi possimus commodi eos
                voluptate officiis ducimus distinctio nemo, quaerat, sint quidem fugit
                dolores architecto laborum rerum.
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet qui
                laudantium, vel ullam ex, vero autem minima suscipit et alias aut nam
                quas neque. Magnam ipsum alias quaerat culpa. Ut?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
                cupiditate autem non culpa nobis, tempora error esse molestias, harum
                qui voluptas, quia amet impedit! Quam corrupti iste minima facere
                similique.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim natus
                doloribus explicabo expedita voluptas nisi atque, maiores dignissimos
                hic, autem id velit deserunt reiciendis corporis. Fuga, veritatis
                earum. Saepe, dolor!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
                magnam quibusdam nulla soluta? Vero fugiat saepe cumque repudiandae
                architecto libero deserunt, officia neque numquam minus laudantium nisi
                eius nemo dolores.
            </p>
        </div>
    </main>
</body>
</html>
