body{
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: black;
   font-size: 1.2rem;
   line-height: 1.6rem;
   margin: 0;
}

h1 {
    font-size: 2rem;
    line-height: 2.3rem;

}

.container {
    width: 85%;
    max-width: 850PX;
    margin: 0 auto;
}

.header {
    background: #333;
    color: white;
}   
  .header a {
    color: white;
    text-decoration: none;
        
  
    
   }

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigation ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
.navigation ul li {
   display: inline-block;
}
.navigation ul li a {
   display: block;
   padding: 2rem 1rem;
}
.navigation ul li a:hover {
   background: #ccc;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}